.maxwidth
  %h1 Create New Episode

  .card
    %br

    = simple_form_for @episode, html: {multipart: true} do |f|
      = f.error_notification
      = f.input :title, placeholder: "Episode Title (required)", label: false
      = f.input :info, placeholder: "Episode Description", label: false
      /= f.input :avatar

      %br
      = submit_tag "Create"


  = link_to "Cancel", episodes_path